admin:
  access_log_path: /dev/null
  address:
    socket_address:
      address: "{{ .localhost }}"
      port_value: 15000
dynamic_resources:
  cds_config:
    ads: {}
  ads_config:
    api_type: GRPC
    grpc_services:
      - envoy_grpc:
          cluster_name: xds-grpc
static_resources:
  clusters:
  - hosts:
      - socket_address:
          address: "istio-pilot.istio-system"
          port_value: 15010
    connect_timeout: 1.000s
    http2_protocol_options: {}
    name: xds-grpc
    type: STRICT_DNS
    dns_lookup_family: "{{ .dns_lookup_family }}"
  - eds_cluster_config:
      eds_config:
        ads: {}
    connect_timeout: 1.000s
    http2_protocol_options: {}
    name: outbound|15010||istio-pilot.istio-system.svc.cluster.local
    type: EDS
  - hosts:
    - socket_address:
        address: "{{ .localhost }}"
        port_value: 15010
    connect_timeout: 1.000s
    http2_protocol_options: {}
    name: in.15010
    type: STRICT_DNS
    dns_lookup_family: "{{ .dns_lookup_family }}"
  listeners:
  - address:
      socket_address:   
        address: "{{ .wildcard }}"
        port_value: 15020
    filter_chains:
    - filters:
      - config:
          stream_idle_timeout: 30s
          access_log:
          - config:
              path: /dev/stdout
            name: envoy.file_access_log
          http_filters:
          - name: envoy.router
          route_config:
            name: "15020"
            virtual_hosts:
            - domains:
              - '*'
              name: istio-pilot.istio-system.svc.cluster.local
              routes:
              - match:
                  prefix: /
                route:
                  cluster: outbound|15010||istio-pilot.istio-system.svc.cluster.local
          stat_prefix: "15020"
        name: envoy.http_connection_manager

    name: "15020"
